* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 25px;
  width: 100%;
  background-image: url(https://i.imgur.com/c9vRiAS.jpg);
  background-size: cover;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      animation: flicker 1.5s infinite alternate;
      padding: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 700px;
  margin: 10px 0 25px;
  width: 700px;
  border:  10px solid black;
  
  box-shadow: 5px 10px black;
}

.cell {
  align-items: center;
  background: #D875FF;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.cell::after {
  background: white;
  border-radius: 50%;
  border: 3px solid black;
  content: '';
  cursor: pointer;
  height: 75px;
  width: 75px;
  
}

.cell:not(.row-top).red::after {
  background: #472081;
}
.cell:not(.row-top).yellow::after {
  background: #7885ff;
}

.cell:not(.row-top).red.win {
  background: #472081;
}

.cell:not(.row-top).yellow.win {
  background: #7885ff;
}

.cell.row-top {
  background: white;
  border-radius: 50px;
 
}

.cell.row-top::after {
  border: none;
}

.cell.row-top.red::after {
  background: #472081;
  border: 3px solid black;
}

.cell.row-top.yellow::after {
  background: #7885ff;
  border: 3px solid black;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.reset {
  background-color: #220070;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-transform: uppercase;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      animation: flicker 1.5s infinite alternate;
      padding: 20px;
}

.reset:hover {
  background-color: #e200f7;
}

.reset:active {
  background-color: #4d7ef1;

}

.status {
  display: block;
  font-size: 20px;
}

/* Util CSS */
.left-border {
  border-left: 3px solid black;
}

.top-border {
  border-top: 3px solid black;
}

.right-border {
  border-right: 3px solid black;
}

.bottom-border {
  border-bottom: 3px solid black;
}

.left-border.top-border {
  border-radius: 10px 0 0 0;
}

.right-border.top-border {
  border-radius: 0 10px 0 0;
}

.right-border.bottom-border {
  border-radius: 0 0 10px 0;
}

.left-border.bottom-border {
  border-radius: 0 0 0 10px;
}
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
  from {
    transform: translateY(-200px);
  } to {
    transform: translateY(0)
  }
}

